# ============================================
# Python
# ============================================

__pycache__/
*.py[cod]


# ============================================
# Jupyter
# ============================================

.ipynb_checkpoints/


# ============================================
# Virtual environments
# ============================================

.venv/
venv/
env/


# ============================================
# 原始 BUSI 数据不要上传 GitHub
# ============================================

data/raw/
data/Dataset_BUSI_with_GT/


# ============================================
# 模型权重
# ============================================

*.pth
*.pt
*.ckpt


# ============================================
# 训练输出
# ============================================

results/checkpoints/


# ============================================
# 系统文件
# ============================================

.DS_Store
Thumbs.db

